body {
    margin: 0;
    background: #f2e9e4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.info {
  height: 85px;
  width: 250px;
  background-color: #c9ada7;
  margin: auto;    
  margin-top: 2%;
  border-radius: 12px;
  opacity: 90%;
}
.circle {
  height: 55px;
  width: 55px;
  background-color: white;
  border-radius: 50%;
  margin: auto;    
  transform: translateY(17%); 
  transform: translateX(50%);
}
.title {
    margin: auto;
    font-family: sans-serif;
    color: #22223b;
    vertical-align: middle;
    text-align: center;
    line-height: 55px;

}
.subheading {
    margin: auto;
    margin-top: 2%;
    color: #22223b;
    vertical-align: middle;
    text-align: center;
    line-height: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
p {
    margin: auto;
    margin-top: 1%;
    color: #22223b;
}